/* Fonts */

@font-face {
    font-family: AileronHeavy;
    src: url(fonts/Aileron-Heavy.otf);
}

@font-face {
    font-family: RalewaySmBold;
    src: url(fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: RalewayMedium;
    src: url(fonts/Raleway-Medium.ttf);
}

/* Style */

h1,
h2,
h3,
h4,
h5 {
    font-family: Lexend Deca;
    color: #333333;
    padding-bottom: 15px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem !important;
    }

    h2 {
        font-size: 2rem !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.fancyPhrase {
    font-size: 18px;
    font-family: RalewaySmBold;
}

html,
body {
    overflow-x: hidden;
    font-family: RalewayMedium;
}

body {
    position: relative;
}

.jtvNavBtn {
    margin: 6px;
}

.jtvBtn {
    background-color: #6219D8;
    border-radius: 5px;
    color: white;
}

.card {
    background-color: #ffffff56;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1.5px;
}

::-moz-selection {
    background-color: #444;
    color: #ffffff;
}

::selection {
    background-color: #444;
    color: white;
}

.nuage {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flotte1 {
    animation: float 8s ease-in-out infinite;
}

.flotte2 {
    animation: float2 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-7px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes revelationLogo {
    0% {
        transform: translateY(10vh);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .nuageMob11 {
        top: 32vh !important;
    }

    .nuageMob22 {
        top: 40vh !important;
    }

    .PlanMob11 {
        height: 55vh !important
    }
}

.neumorphButton {
    width: fit-content;
    border-radius: 12px;
    background: #F3F0F7;
    box-shadow: 7px 7px 12px #dddae1,
        -7px -7px 12px #ffffff;
    color: #000000;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-width: 0px;
    padding: 10px;
    transition: all .8s cubic-bezier(.25, .8, .25, 1);
}

.neumorphButton:hover {
    transform: scale(1.05);
}

.neumorphButtonDecouvr {
    font-family: Lexend Deca;
    width: fit-content;
    border-radius: 12px;
    background: #FAF7FF;
    box-shadow: 6px 6px 12px #ebe8f0,
        -6px -6px 12px #ffffff;
    color: #6219D8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-width: 0px;
    padding: 10px;
    transition: all .8s cubic-bezier(.25, .8, .25, 1);
    margin-top: 12px;
}

.neumorphSection {
    border-radius: 20px;
    background: #FAF7FF;
    box-shadow: 20px 20px 35px #eeebf2,
        -20px -20px 35px #ffffff;
    padding: 40px 10px;
    margin: 35px 0px;
    transition: all .8s cubic-bezier(.25, .8, .25, 1);
}

@media (min-width: 768px) {
    .neumorphSection {
        padding: 40px 35px;
    }
}

.neumorphSection:hover {
    transform: scale(1.02);
}

.shadow-bg-icon-right {
    height: 80%;
    opacity: .03;
    position: absolute;
    right: 0px;
    bottom: -10%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.img-home {
    width: 100%;
    padding: 45px;
}

.header-text {
    padding: 15px 0px;
}

@media (min-width: 1635px) {
    .header-text {
        padding-top: 40px;
    }
}

.hr-homepage {
    border-width: 2px;
    width: 25%;
    border-color: #d8d8d85d;
}

.neumorphSectionHomePage {
    border-radius: 20px;
    background: #FAF7FF;
    box-shadow: 20px 20px 35px #eeebf2,
        -20px -20px 35px #ffffff;
    padding: 40px 30px;
    margin: 20px 0px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.neumorphSectionHomePage:hover {
    transform: scale(1.02);
}

.spacing-homepage {
    padding: 15px 30px;
    margin: 50px 0px;
}

.thumbnail-etudes {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.thumbnail-etudes:hover {
    transform: scale(1.04);
}

.separateur-hp {
    margin: 90px 0px
}

.titreEtude {
    padding-top: 50px;
    text-align: left;
}

hr {
    margin: 30px 5vw;
    border-width: 2px;
}

.panneauEtude {
    border-radius: 18px;
    background: #FAF7FF;
    box-shadow: 5px 5px 9px #e1dee6,
        -5px -5px 9px #ffffff;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.panneauEtude:hover {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.panneauEtudeNoHov:hover {
    box-shadow: 5px 5px 9px #e1dee6,
        -5px -5px 9px #ffffff;
}

.soustitrePanneau {
    font-size: 16px;
    opacity: .3;
    padding: 12px;
    font-family: Lexend Deca;
}

.sectionContact {
    padding: 20px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    min-width: 40%;
    border-radius: 18px;
    background: #FAF7FF;
    box-shadow: 7px 7px 14px #e9e6ed,
        -7px -7px 14px #ffffff;
}

.sectionContact:hover {
    transform: scale(1.02);
}

.texteEtude {
    padding: 20px;
    max-width: 1000px;
    border-left: 3px solid #31037c56;
    border-radius: 2px;
}

.headerEtude {
    background-color: #6219D8;
    clip-path: polygon(100% 0, 100% 6%, 73% 26%, 31% 36%, 0 53%, 0% 0%);
    height: 180px;
    position: absolute;
    width: 100vw;
    animation: clipMove 10s ease-in-out infinite;
}

@keyframes clipMove {
    0% {
        clip-path: polygon(90% 0, 63% 26%, 31% 36%, 0 53%, 0% 0%);
    }

    50% {
        clip-path: polygon(88% 0, 61% 27%, 27% 28%, 0 62%, 0% 0%);
    }

    100% {
        clip-path: polygon(90% 0, 63% 26%, 31% 36%, 0 53%, 0% 0%);
    }
}

.catchPhraseJTV {
    animation: revelationLogo .8s ease-out;
    animation-fill-mode: forwards;
    color: white;
    font-size: 4rem;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .05;
    }
}

.meaJtv {
    color: #6219D8;
    font-weight: 500;
}

.techLogo {
    width: 100%;
    padding: 10px;
    max-width: 120px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(3%);
}

.btnFlottantJtv {
    background-color: #6219D8;
    color: white;
    padding: 2px 12px 0px 5px;
    margin-right: 20px;
    margin-bottom: 0px;
    border-radius: 0px 10px 0px 0px;
    z-index: 99999;
    border-color: transparent;
}

.socialIcon {
    width: 24px;
    display: inline-block;
    opacity: .5;
}

.growBtn {
    transition: all .2s ease-in-out;
}

.growBtn:hover {
    transform: scale(1.02);
}

.btnRetour {
    font-weight: 400;
    color: #8f8f8f;
    border-radius: 25px;
    background: #FAF7FF;
    box-shadow: 5px 5px 10px #eeebf2,
        -5px -5px 10px #ffffff;
    border-width: 0px;
    padding: 10px;
}

.ConteneurGsmRobot {
    padding: 10px 2px;
}

.titreGsmRobot {
    font-size: 25px;
    padding-bottom: 2px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .titreGsmRobot {
        padding-left: 10px;
    }

    .texteGsmRobot {
        padding-left: 10px;
    }
}

.texteGsmRobot {
    font-size: 14px;
    opacity: .8;
}

.encadreMethodo {
    font-size: 12px;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    max-width: 500px;
    margin: auto;
    margin-bottom: 25px;
    text-align: left;
}

.encadreMethodo mjx-container {
    margin: 10px !important;
    text-align: left;
}

.inputTelephoneCheck {
    border-width: 0px;
    font-size: 20px;
    color: #6219D8;
    font-family: Lexend Deca;
    border-radius: 15px;
    background: #FAF7FF;
    box-shadow: inset 6px 6px 12px #eeebf2,
        inset -6px -6px 12px #ffffff;
    padding: 10px;
    text-align: center;
}

.inputTelephoneCheck::placeholder {
    color: #000000;
    opacity: .4;
}

.imgEtude{
    max-height: 150px;
}