/* Fonts */

@font-face {
    font-family: AileronHeavy;
    src: url(fonts/Aileron-Heavy.otf);
}

@font-face {
    font-family: RalewaySmBold;
    src: url(fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: RalewayMedium;
    src: url(fonts/Raleway-Medium.ttf);
}

/* Style */

h1,
h2,
h3,
h4,
h5 {
    font-family: Lexend Deca;
    color: #333333;
}

.fancyPhrase {
    font-size: 18px;
    font-family: RalewaySmBold;
}

html,
body {
    overflow-x: hidden;
    font-family: RalewayMedium;
}

body {
    position: relative;
}

::-moz-selection {
    background-color: #444;
    color: #ffffff;
}

::selection {
    background-color: #444;
    color: white;
}

.nuage {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flotte1 {
    animation: float 8s ease-in-out infinite;
}

.flotte2 {
    animation: float2 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-7px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes revelationLogo {
    0% {
        transform: translatey(0px);
    }

    100% {
        transform: translatey(-250px);
    }
}

.neumorphButton {
    border-radius: 27px;
    background: linear-gradient(145deg, #5817c2, #691be7);
    box-shadow: 5px 5px 10px #5215b5, -5px -5px 10px #721dfb;
    height: 30px;
    width: 100px;
    font-family: RalewaySmBold;
    color: #F9F5FF;
    opacity: .95;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.neumorphSection {
    border-radius: 20px;
    background: #FAF7FF;
    box-shadow: 20px 20px 35px #eeebf2,
        -20px -20px 35px #ffffff;
    padding: 40px 30px;
    margin: 60px 0px;
}


.shadow-bg-icon-right {
    height: 80%;
    opacity: .05;
    position: absolute;
    right: 0px;
    bottom: -10%;
}

.img-home {
    width: 100%;
    padding: 45px;
}

.header-text {
    padding: 15px 0px;
}

@media (min-width: 1635px) {
    .header-text {
        padding-top: 40px;
    }
}

.hr-homepage {
    border-width: 4px;
    width: 25%;
    border-color: #d8d8d8;
}

.neumorphSectionHomePage {
    border-radius: 20px;
    background: #FAF7FF;
    box-shadow: 20px 20px 35px #eeebf2,
        -20px -20px 35px #ffffff;
    padding: 40px 30px;
    margin: 20px 0px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.neumorphSectionHomePage:hover {
    transform: scale(1.02);
}

.spacing-homepage {
    padding: 15px 30px;
    margin: 50px 0px;
}

.thumbnail-etudes {
    width: 100%;
    border-radius: 8px; 
    margin-bottom: 10px;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.thumbnail-etudes:hover {
    transform: scale(1.04);
}

.separateur-hp {
    margin:90px 0px
}